#container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: radial-gradient(220% 105% at top center, #1971ff, #cd20f4, #ff4479);
    overflow: hidden;
    touch-action: none;
    background-size: cover;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 1600px;
    /* 实际渲染宽度是可视区域的2倍 */
    height: 1000px;
    /* 实际渲染高度是可视区域的2倍 */
    will-change: transform;
    /* 优化性能 */
}

#background-layer {
    background: url(../images/background.png);
    background-image: url('https://s21.ax1x.com/2025/07/23/pVGUgLn.png');
    background-size: 1600px 1000px;
    background-blend-mode: multiply;
    transform: translate(0, 0);
}

#sun-layer {
    background: url(../images/sun.png);
    background-image: url('https://s21.ax1x.com/2025/07/23/pVGU6Mj.png');
    scale: 0.8;
    top: -100px;
    left: -180px;
    background-size: 1600px 1000px;
    background-blend-mode: multiply;
    transform: translate(0, 0);
}

#midground-layer {
    background: url(../images/midground.png);
    background-image: url('https://s21.ax1x.com/2025/07/23/pVGUcss.png');
    background-repeat: space;
    top: 0;
    left: -550px;
    width: 2400px;
    height: 1200px;
    transform: translate(0, 0);
}

#foreground-layer {
    background: url(../images/foreground.png);
    background-image: url('https://s21.ax1x.com/2025/07/23/pVGURZq.png');
    width: 2400px;
    height: 1200px;
    top: 100px;
    left: -100px;
    transform: translate(0, 0);
}

#clouds-layer {
    background: url(../images/clouds.png);
    background-image: url('https://s21.ax1x.com/2025/07/23/pVGUWd0.png');
    scale: 0.8;
    width: 2400px;
    height: 1000px;
    top: -280px;
    left: -600px;
    transform: translate(0, 0);
}